[flake8]
max-line-length = 100
extend-ignore = E203,E501,W503,E704
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info,
    .mypy_cache,
    .pytest_cache,
    .tox
per-file-ignores =
    __init__.py:F401,F403
    tests/*:D100,D101,D102,D103,D104,S101
max-complexity = 10
docstring-convention = google
